.containerItemlist{
    
    color: #262327;
    display: flex;
    flex-direction: column;
}

h1{
    font: bold 0.8rem sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 14px;
    text-align: left;
    /* identical to box height */

    color: white;

    letter-spacing: -0.409091px;
}