.Navbar{
    background: #262327;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-nav{
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left:40vw;
}

.Navmenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 48px;
}

.logo {
    width: 90px;
    height: 19px;
}